  body 
  {
	background: silver;
}
form {
	font-size: x-large;
	color: black;
}
input {
	text-align: center;
	font-size: small;
	font-family: cursive;
	color: blue;
}
div {
	font-size: large;
	font-family: cursive;
	color: black;
}
button {
	background-color: white;
    color: black;
    border: 2px solid #4CAF50; 
}
